@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');



@font-face {
    font-family: "Prata";
    src: url("./Prata-Regular.ttf");
}

*, header, #arControler, #beta {
    /* header usw fixed pos deswegen applied * die nicht oder so */
    font-family: "Roboto", sans-serif;
}
